@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Finshed!</h1>

<div class="row">
    <div class="col-md-4">
        <label>API Call one contains duplicates = @ViewBag.list0</label> <br />
    </div>
    <div class="col-md-4">
        <label>API Call two contains duplicates = @ViewBag.list1</label> <br />
    </div>
    <div class="col-md-4">
        <label>API Call three contains duplicates = @ViewBag.list2</label> <br />
    </div>
</div>